

figure.highlight {
  background: #fafafa;
  border: 1px solid #ccc;
  margin-top: 15px;
  padding: 7px 15px;
  border-radius: 2px;
  line-height: 1.6;
  overflow: auto;
  position: relative;
  font-size: 0.9em;
}
figure.highlight figcaption {
  color: #333;
  font-family: font-mono;
  margin-bottom: 5px;
}
figure.highlight figcaption a {
  position: absolute;
  right: 15px;
}
figure.highlight pre {
  border: none;
  padding: 0;
  margin: 0;
  background: none;
}
figure.highlight table {
  margin-top: 0;
  border-spacing: 0;
}
figure.highlight table .gutter {
  color: #5c6370;
  padding-right: 15px;
  border-right: 1px solid #ccc;
  text-align: right;
}
figure.highlight table .gutter .line {
  color: #a4a4a4;
}
figure.highlight table .code {
  padding-left: 15px;
}

.comment,
.quote {
  color: #998;
  font-style: italic;
}

.keyword,
.selector-tag,
.subst {
  color: #6e41c1;
}

.number,
.literal,
.variable,
.template-variable,
.tag .attr {
  color: #008080;
}

.string,
.doctag {
  color: #d14;
}

.title,
.section,
.selector-id {
  color: #900;
}

.subst {
  font-weight: normal;
}

.type,
.class .title {
  color: #458;
  font-weight: bold;
}

.tag,
.name,
.attribute,
.params
 {
  color: #000080;
  font-weight: normal;
}

.regexp,
.link {
  color: #009926;
}

.symbol,
.bullet {
  color: #990073;
}

.built_in,
.builtin-name {
  color: #0086b3;
}

.meta {
  color: #999;
  font-weight: bold;
}

.deletion {
  background: #fdd;
}

.addition {
  background: #dfd;
}

.emphasis {
  font-style: italic;
}

.strong {
  font-weight: bold;
}
